[package]
name = "hf-hub"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dirs = "5.0.1"
rand = {version = "0.8.5", optional = true}
reqwest = { version = "0.11.18", optional = true, features = ["json"] }
serde = { version = "1.0.171", features = ["derive"] , optional = true}
serde_json = {version="1.0.103", optional = true}
indicatif = { version = "0.17.5", optional = true}
num_cpus = { version = "1.15.0", optional = true}
tokio = { version = "1.28.2", optional = true, features = ["fs", "macros"] }
futures = { version = "0.3.28", optional = true}
thiserror = { version = "1.0.43", optional = true }
sha256 = { version = "1.2.1", optional = true }
ureq = { version = "2.7.1", optional = true, features = ["native-tls", "json"] }
native-tls = { version = "0.2.11", optional = true }

[features]
default = ["online"]
online = ["dep:ureq", "dep:native-tls", "dep:rand", "dep:sha256", "dep:serde", "dep:serde_json", "dep:indicatif", "dep:num_cpus", "dep:thiserror"]
tokio = ["dep:tokio", "dep:futures", "dep:rand", "dep:sha256", "dep:serde", "dep:serde_json", "dep:indicatif", "dep:num_cpus", "dep:thiserror"]

[dev-dependencies]
tokio-test = "0.4.2"
